# Fixed copy of Kismet's /etc/udev/rules.d/99-kismet-nrf51822.rules: $ doubled so udev passes it to sh, comma added.
# Install: sudo install -m644 99-kismet-nrf51822.rules /etc/udev/rules.d/ && sudo udevadm control --reload
# Verify: udevadm verify /etc/udev/rules.d/99-kismet-nrf51822.rules   Rollback: sudo rm /etc/udev/rules.d/99-kismet-nrf51822.rules && sudo apt install --reinstall -o Dpkg::Options::=--force-confmiss kismet-capture-nrf-51822
#this rule symlinks compatible devices flashed with nrf ble sniffer firmware to /dev/nrf51822# with # starting at 1
ACTION=="add", SUBSYSTEM=="tty", ATTRS{idVendor}=="1915", ATTRS{idProduct}=="522a", PROGRAM="/bin/sh -c 'echo $$(($$(ls /dev/nrf51822* 2>/dev/null| tail -n1 | sed -e s#/dev/nrf51822## )+1))'", SYMLINK+="nrf51822%c"
